@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;900&display=swap')

h1,h2,h3,h4,h5,p,a
  margin: 0

.app
  align-items: center
  justify-content: center
  font-family: 'Montserrat', sans-serif
  margin: 40px 40px

.outputContainer
  flex: 1
  .title
    font-size: 26px
    margin: 0 0 20px 0
  .body
    .text
      font-size: 18px
      margin: 0 0 20px 0